<span class="nav-title">Restaurant Reviewer</span>
<div class="" id="category-filter">
  <div class="select-group">
    <label for="select-category">Select Category</label>
    <select class="select-category" onchange={{ action "categorySelected" value="target.value"}} onfocus={{ action "categorySelected" value="target.value"}} id="select-category" tabindex="0">
      <option value="">None</option>
      {{#each restaurantSelectList as |item| }}
      <option value={{item.categoryId}}>{{item.categoryName}}</option>
      {{/each}}
    </select>
  </div>

  <div class="filter-btn text-right">
    <button aria-label="filter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick={{action "filterRestaurants"}} tabindex="0">
      Filter
    </button>
  </div>

</div>
