<div class="mdl-card__title card-background" style={{best-photo venue.response.venue.bestPhoto}}>

  <h2 class="mdl-card__title-text card-title">
    {{#link-to 'restaurant' venue.response.venue.id tabindex="0" class="thumb-link"}}
      {{venue.response.venue.name}}
    {{/link-to}}
  </h2>
</div>

<div class="mdl-card__supporting-text thumb-info">
  {{#if venue.response.venue.categories.0.name}}
    <div class="thumb-category">{{venue.response.venue.categories.0.shortName}}</div>
  {{/if}}

<div class="thumb-price-category">{{price-category venue.response.venue}}</div>

<div class="thumb-rating">{{star-rating venue.response.venue.rating}}</div>

{{#if venue.response.venue.location}}
  <p class="thumb-address">
    {{venue.response.venue.location.address}},&nbsp;{{venue.response.venue.location.city}}
  </p>
{{/if}}
</div>
<div class="mdl-card__actions mdl-card--border card-action">
  {{#link-to 'restaurant' venue.response.venue.id tabindex="-1" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}
    Review Restaurant
  {{/link-to}}
</div>
