<div class="mdl-card__title">
  <h2 class="mdl-card__title-text comment-head">Reviews</h2>
</div>
<div class="mdl-card__supporting-text">

  <ul class="list--unstyled" id="all-comments">
    {{#each currentComments as |comment|}}
    <li class="comment-item">

      <div class="row">
        <div class="user-img inline-block">
          <img src="{{comment.user.photo.prefix}}50x50{{comment.user.photo.suffix}}" alt="Picture of {{user.firstName}}" />
        </div>
        <div class="comment-user-name inline-block">
          <span>{{comment.user.firstName}}</span>&nbsp;<span>{{comment.user.lastName}}</span>
        </div>
      </div>

      <div class="comment-text">
        <p>{{comment.text}}</p>
      </div>


    </li>
    {{/each}}
  </ul>

</div>
<div class="mdl-card__actions mdl-card--border">
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" tabindex="0" {{ action "loadMoreComments"}}>
    More reviews
  </button>
</div>
