<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Restaurant Reviewer</span>
    </div>
  </header>
  <main class="mdl-layout__content" role="main">
    <div class="page-content">

      <form class="home-page-form text-right {{if showWarning 'has-warning'}}" >
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label home-page-text-field">

          {{search-restaurants class="mdl-textfield__input" type="text" id="current-location" tabindex="0" action="placeFound"}}

          {{#if showWarning}}
            <label class="mdl-textfield__label text-center home-page-label" for="current-location">Please select location!</label>
          {{else}}
            <label class="mdl-textfield__label text-center home-page-label" for="current-location">Current Location</label>
          {{/if}}
        </div>
        <button type="submit" name="button" hidden tabindex="-1" onclick={{ action "preventFormFromSubmiting"}}></button>
        <button role="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" {{ action "submitSearch"}} tabindex="0">
          <i class="material-icons">search</i>
        </button>
      </form>

    </div>
  </main>
</div>
