<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <label for="go-back" class="sr-only">go back</label>
      <button id="go-back" {{ action "goBack"}}>
        <i class="material-icons" aria-hidden="true">chevron_left</i>
      </button>

      {{#link-to 'home' class="site-title"}}
        <h1 class="mdl-layout-title">Restaurant Reviewer</h1>
      {{/link-to}}
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  {{circle-loader
    loaderOn=loaderOn
  }}

  <main class="mdl-layout__content" role="main">

    <section class="mdl-grid grid-handle restaurant-details">
      <div class="restaurant-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet">
        <div class="mdl-card__title restaurant-bg" style={{best-photo model.bestPhoto}} role="img" aria-labelledby="img-label"></div>
        <span class="sr-only" id="img-label">Picture of {{model.name}}</span>
        <div class="restaurant-likes text-right">
            <i class="material-icons" aria-hidden="true">thumb_up</i>
            <span>{{model.likes.count}}</span>
        </div>

        {{#if model.description}}
        <div class="res-description">
          <p>{{model.description}}</p>
        </div>
        {{/if}}

        <div class="mdl-card__actions mdl-card--border">
          <ul class="reasons-list">
            {{#each model.reasons.items as |reason|}}
            <li class="reason-item">"{{reason.summary}}"</li>
            {{/each}}
          </ul>

          <ul class="list--unstyled restaurant-tags">
            {{#each model.tags as |tag|}}
              <li class="tag"><i class="material-icons tag-icon" aria-hidden="true">local_offer</i>{{tag}}</li>
            {{/each}}
          </ul>
        </div>

      </div>{{!-- /.restaurant-card --}}

      {{log model}}
      <div class="restaurant-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
        <div class="mdl-card__supporting-text">
          <div id="map-iframe">
            {{google-map id="google-map" lat=model.location.lat lng=model.location.lng}}
          </div>
          <div class="title-cont">
            <h2 class="restaurant-title">{{model.name}}</h2>
          </div>


          <div class="row">
            {{#if model.categories.0.name}}
              <div class="restaurant-category col6">{{model.categories.0.shortName}}</div>
            {{/if}}
            <div class="restaurant-price-category col6 text-right">{{price-category model}}</div>
          </div>

          {{#if model.hours}}
          <div class="restaurant-status">
              {{#if model.hours.isOpen}}
                <span class="is-open">Open Now</span>
              {{else}}
                <span class="is-closed">Closed</span>
              {{/if}}
          </div>
          {{/if}}

          <div class="restaurant-rating">{{star-rating venue.response.venue.rating}}</div>

          <div class="address-cont">
            {{#each model.location.formattedAddress as |line|}}
            <span class="address-line">{{line}}</span>
            {{/each}}
          </div>

          {{#if model.hours.timeframes}}
          <div class="opening-times">
            <h4>Opening times</h4>
            <ul>
              {{#each model.hours.timeframes as |timeframe|}}
                <li class="timeframe-line"><span>{{timeframe.days}}</span><span>{{timeframe.open.0.renderedTime}}</span></li>
              {{/each}}
            </ul>
          </div>
          {{/if}}

        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="{{model.canonicalUrl}}" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Visit at Foursquare
          </a>
        </div>

      </div>{{!-- /.restaurant-card --}}

    </section>{{!-- /.mdl-grid --}}

    <section class="mdl-grid grid-handle restaurant-reviews">

        {{review-form
          tagName="div"
          class="review-form-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet"
        }}

        {{restaurant-comments
          tagName="div"
          comments=model.tips.groups.0.items
          class="comments-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet"
          initLoader="initLoader"
        }}

    </section>
  </main>
</div>
