<div class="mdl-layout mdl-js-layout
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <label for="nav-init" class="sr-only">Filter restaurants</label>
      <button class="custom-nav-btn" role="button" tabindex="0" id="nav-init" {{action "navInit"}}>
        <i class="material-icons" aria-hidden="true">filter_list</i>
      </button>
      <div class="mdl-layout-spacer"></div>
      <div id="search-result-input-cont" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          {{search-restaurants class="mdl-textfield__input" type="text" id="fixed-header-drawer-exp"
                  placeholder="Current location" tabindex="0" action="placeFound"}}
        </div>
      </div>
    </div>
  </header>

  {{circle-loader
    loaderOn=loaderOn
  }}

  {{filter-menu class="mdl-layout__drawer" id="filter-menu" filterInit="filterSelected" tagName="aside" restaurantSelectList=restaurantSelectList}}

  <main class="mdl-layout__content" role="main">
    <div class="page-content">

      <div class="mdl-grid grid-handle" id="venues">
      {{#if restaurants}}
         {{#each restaurants as |venue|}}
           {{restaurant-thumb venue=venue class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp restaurant-thumb"}}
         {{/each}}
      {{/if}}

      {{#if (isGreaterThan 1 model.response.venues.length)}}
      <div class="text-center mdl-cell--12-col">
        <h2 class="no-restaurants" tabindex="0">Could not find any restaurants near your.</h2>
      </div>
      {{/if}}

       {{#if (isGreaterThan model.response.venues.length 6)}}
       <div class="mdl-cell mdl-cell--4-col">
         <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect load-more-btn" {{action "loadMore"}}>
           Load more
         </button>
       </div>
       {{/if}}
      </div>{{!-- /#venues --}}

      <div class="attribution-fousquare">
        Powered by<em>&nbsp;Foursquare</em>
      </div>
    </div>
  </main>
</div>
